.svg-icon {
    width: 2em;
    height: 20px;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #ffffff;
  }
  
  .svg-icon circle {
    stroke: #ffffff;
    stroke-width: 1;
  }